<!DOCTYPE html>
<html lang="en" data-theme="forest">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Generator</title>
    <link rel="shortcut icon" href="https://s.widget-club.com/samples/cwDac1MHM1PxafqK80Q9m9qqmc33/fk32d3PWZLT6yoAgjpa2/A436A085-CD9E-42B9-89F5-F03432EEA6EC.jpg?q=70" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Include TailwindCSS once -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Include Navbar -->
    {% include 'navbar.html' %}

    <div class="lg:px-52 px-10 flex flex-col items-center justify-center">
        <div class="mt-20 flex flex-col items-center justify-center lg:flex-row-reverse">
            <input
              type="text"
              placeholder="Type here"
              class="input input-bordered input-ghost w-full"
              id="Search"
            />
            <button id="generate" class="btn btn-ghost mt-5 lg:mt-0">Generate</button>
        </div>
        <div id="Loading" class="hidden mt-10 justify-center items-center p-2">
            <span class="loading loading-spinner text-primary"></span>
        </div>
        <div id="Block" class="hidden mt-10 justify-center items-center border-[0.5px] border-zinc-400 rounded-xl p-2">
            <center>
                <p id="Article" class="text-primary cursor-pointer hover:text-secondary">
                    
                </p>
            </center>
        </div>
    </div>

    <!-- Hidden Toast Element for Notification -->
    <div id="Toast" class="hidden toast">
        <div class="alert alert-success">
            <span class="text-white font-bold">Copied Successfully!</span>
        </div>
    </div>

    <!-- Include Script File -->
    <script src="../static/script.js"></script>
</body>
</html>
