<!DOCTYPE html>
<html lang="en" data-theme="forest">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article Generator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="flex flex-col items-center justify-center px-52 py-20">
      <div class="flex flex-row w-full justify-center">
        <button id="generate" class="btn btn-ghost">Generate</button>
        <input
          type="text"
          placeholder="Type here"
          class="input input-bordered input-ghost w-full"
        />
      </div>
      <div id="Loading" class="hidden mt-20 justify-center items-center p-2">
        <span class="loading loading-spinner text-primary"></span>
      </div>
      <div id="Block" class="hidden mt-20 justify-center items-center border-[0.5px] border-zinc-400 rounded-xl p-2">
        <center>
        <p id="Article" class="text-primary cursor-pointer hover:text-secondary">
            
        </p>
        </center>
      </div>
    </div>
    <div id="Toast" class="hidden toast">
        <div class="alert alert-success">
          <span class="text-white font-bold">Copied Sucessfully!</span>
        </div>
      </div>
    <script src="../static/script.js"></script>
  </body>
</html>
